# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# MacOS
.DS_Store

# Logs
*.log

# Data & outputs
data/
outputs/
*.sqlite3

# Large files (for LFS)
*.pdf
*.png
*.jpg
*.jpeg
*.webp
*.csv